<div class="row">
<div class="input-field col m6 offset-m4 s12">
<input id="username" type="text" class="validate" name="username" required>
<label for="username">Username</label>
</div>
</div>
<div class="row">
<div class="input-field col m6 offset-m4 s12">
<input id="password" type="password" class="validate" name="password" required>
<label for="password">Password</label>
</div>
</div>
<div class="row">
<button class="btn btn-large waves-effect waves-light col s12 m6 offset-m4" type="submit">Submit
<i class="material-icons right">send</i>
</button>
</div>

