{% extends "layout.html" %}
{% block title %}
{{title}}
{% endblock %}
{%block content%}
<h1 class="center">Sign Up</h1>
<p class="center yellow">{{ message }}</p>
<section class="container row">
	<a href="{{url_for('login')}}">Sign in</a>
<form action="{{url_for('login')}}" method="post" class="col s12">
<div class="row">
<div class="input-field col m6 offset-m4 s12">
<input id="name" type="text" class="validate" name="name" required>
<label for="name">Name</label>
</div>
</div>
{%include "authenticate.html" %}
</form>
</section>
{% endblock %}
